body{
    background-color: #2a2a2a;
    color: white;
    font-family: 'Trebuchet MS';
}

#main{
    width: 70%;
    margin: auto;
}

header{
    text-align: center;
    font-size: 200%;

    box-sizing: border-box;
    border: 0.25em solid white;
    padding: 1%;
    background-color: #1a1a1a;
}
.tytul{
    margin-top: 0px;
    margin-bottom: 0px;
}
.podtytul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.disclaimer{
    background-color: yellow;
    box-sizing: border-box;
    border: 0.2em solid red;
    text-align: center;
    color: black;
    font-size: 175%;
    padding: 0.5%;
    width: 60%;
    margin: auto;
}

.achtung{
    color: red;
    font-size: 150%;
    margin: 0%;
}

.important {
    text-decoration: underline;
    color: red;
}

main {
    margin-top: 2.5%;
    box-sizing: border-box;
    border: .25em solid white;
    background-color: #1a1a1a;
    padding: 1.5%;
}

main p{
    font-size: 150%;
    margin-bottom: 4%;
}

.srodlin_link{
    text-decoration: none;
    color: greenyellow;
}


.photo_link{
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 4%;
}

.photo_prev{
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    box-sizing: border-box;
    border: 0.2em solid white;
    background-color: #1a1a1a;
    margin-top: 2.5%;
}
